@import '../../main_styles.scss';

.heading-bar{
    display: flex;
    width: 100%;
    height: 70px;
    background: linear-gradient(25deg, rgb(240, 174, 240) ,rgb(233, 79, 79));
    
    color:rgb(35, 66, 168);
    justify-content: center;
    align-items: center;

    h1{
        font-family: 'Calibri';
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 25px;
    }
}

.display-budget{
    display:flex;
    height:250px;
    width:100%;
    background-color: rgb(38, 38, 126);
    justify-content: center;
    align-items: center;
    h2{
        color:rgb(233, 216, 170);
        font-family: 'Calibri';
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 50px;

        &.green{
            color: rgb(22, 170, 22);
        }
        &.red{
            color: rgb(196, 59, 59);
        }
    }
}

.add-item{
    display: flex;
    
    justify-content: center; 
    padding-top: 1rem;
    .add-item-container{
        width:680px;
    }
}