<section class="budget-items">
    <div class="budget-item-container">
        <div class="income-col">
            <h1>INCOME</h1>
            <div class="budget-item">
                <app-item-card [isIncome] ="true" style="margin-bottom: 20px;"></app-item-card>
                <app-item-card [isIncome] ="true" style="margin-bottom: 20px;"></app-item-card> 
            </div>
            
        </div>
        <div class="expenditure-col">
            <h1>EXPENDITURE</h1>
            <div class="budget-item">
                <app-item-card [isIncome] ="false" style="margin-bottom: 20px;"></app-item-card>
                <app-item-card [isIncome] ="false" style="margin-bottom: 20px;"></app-item-card> 
            </div>
        </div>
    </div>
</section>
