<section class="budget-items">
    <div class="budget-item-container">
        <div class="income-col">
            <h1>INCOME</h1>
            <div class="budget-item">
                <div *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount>=0" (itemClick)="onItemClicked(item)" (deleteButtonClick)="onDelButtonClick(item)" [item] ="item" style="display:block; margin-bottom: 20px;"></app-item-card> 
                </div>
            </div>
            
        </div>
        <div class="expenditure-col">
            <h1>EXPENDITURE</h1>
            <div class="budget-item">
                <div *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount < 0" (itemClick)="onItemClicked(item)" (deleteButtonClick)="onDelButtonClick(item)" [item] ="item" style="display:block; margin-bottom: 20px;"></app-item-card> 
                </div> 
            </div>
        </div>
    </div>
</section>
